@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.tracks{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 2rem;
}
.heading {
    font-family: 'Nunito', sans-serif;
    font-size: large;
}
