.box-move{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    border: none;
}

@keyframes up-down {
    0% {
      transform: translateY(30px);
}
    100% {
      transform: translateY(-30px);
    }
}

.about-box{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.178);
  line-height: 1.5em;
  font-weight: 550;
  /* letter-spacing: 2px;
  word-spacing: 4px; */
}


/* .elements{
.elements{
  position: relative;
  display: inline-block;
  background-color: blue;
  width: 100%;
  height: 100%;
}
.element > span{
  background-color: rgb(243, 241, 255);
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
}
.ele{
  clip-path: circle(50% at 50% 50%);
  background-color: green;
}
} */
