
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* letter-spacing: 2px;
    word-spacing: 4px; */
  }
  
/*  
  
  .canvas {
    background: black;
    position: fixed;
  } */
  body{
    overflow-x: hidden;
    max-width: 100vw;
}